.idea*
tmp/cache/*
app/.DS_Store
app/views/.DS_Store
config/.DS_Store
public/uploads/.DS_Store
test/.DS_Store
test/unit/.DS_Store
tmp/.DS_Store
.DS_Store
app/assets/.DS_Store
db/.DS_Store
log/development.log
public/.DS_Store
tmp/cache/assets/.DS_Store
tmp/cache/sass/.DS_Store
tmp/pids/server.pidRakefile
Rakefile
